{% extends 'base.html'%}

{% block content%}
	
	<div class="home">
		<!--<img style="width: 300px; height: 300px;" src= "static/images/camping.jpg" alt="Avatar" class="image">
	 	<div class="overlay">
			<div class="text">Camping Checklist</div>
		</div>
		-->
		<a href="/camping">
			<img class="image" style="width: 300px; height: 300px; " src="static/images/camping.jpg">
			
		</a>

		<a href="/hiking">
			<img style="width: 300px; height: 300px; " src="static/images/hiking.jpg">
		</a>

		<a href="/hiking">
			<img style="width: 300px; height: 300px; " src="static/images/hiking.jpg">
		</a>
		</div>
{% endblock %}
